Databse Connectivity Error

In [9]:
#sqlite3->connect->execute->commit command

import sqlite3
#connecting with databse
db=sqlite3.connect('myDatabse.db')
#drop table if already exist using execute method
db.execute("drop table if exists grades1")
#creat table as requireent
db.execute("Create table grades1(id int,name text,score int)")

In [4]:
db.execute("insert into grades1(id,name,score) values(101,'John',99)")

In [6]:
db.execute("insert into grades1(id,name,score) values(102,'Gary',99)")

In [7]:
db.execute("insert into grades1(id,name,score) values(103,'James',99)")
db.execute("insert into grades1(id,name,score) values(104,'cathy',99)")
db.execute("insert into grades1(id,name,score) values(105,'larry',99)")

In [8]:
db.commit()

In [13]:
result=db.execute('select * from grades1 order by id')
print(result)
for row in result:
    print(row)
print("_"*60)

<sqlite3.Cursor object at 0x000001D66AD33E30>
____________________________________________________________

In [14]:
result=db.execute("Select * from grades1 where name='gary'")
print(result)
for row in result:
    print(row)
print("_"*60)

<sqlite3.Cursor object at 0x000001D66AD33F80>
____________________________________________________________

In [16]:
result=db.execute("Select * from grades1 where score>90")
print(result)
for row in result:
    print(row)
print("_"*60)

<sqlite3.Cursor object at 0x000001D66AD33E30>
____________________________________________________________

In [18]:
result=db.execute("Select name,score from grades1 order by score desc ")
print(result)
for row in result:
    print(row)
print("_"*60)

<sqlite3.Cursor object at 0x000001D66AD33F80>
____________________________________________________________

In [19]:
result=db.execute("Select name from grades1 order by score")
print(result)
for row in result:
    print(row)
print("_"*60)

<sqlite3.Cursor object at 0x000001D66AD33E30>
____________________________________________________________

In [20]:
result=db.execute("Select score from grades1 order by score")
print(result)
for row in result:
    print(row)
print("_"*60)

<sqlite3.Cursor object at 0x000001D66AD33F80>
____________________________________________________________